<div class="container my-5">
    <div class="alert alert-success" *ngIf="successAlertClosed" role="alert">
        {{successmsg}}
    </div>
    <h2 style="font-weight: bold;" class="text-center pt-5">LOGIN</h2>
    <hr class="w-25 mx-auto">
    <div class="card my-5 mx-auto w-50">
        <div class="card-body">
            <form [formGroup]="userReactiveForm">

                <div class="form-group">
                    <label class="my-3">Username</label>
                    <input type="text" formControlName="username" placeholder="Enter username" class="form-control" >
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" placeholder="Enter password" class="form-control">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && isLoginFailed">
                     {{ errorMessage }}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="showSuccess">
                    {{successMessage}}
               </div>
            </form>
            <a  (click)="forgotPassword()" class="stretched-link text-primary pull-right" style="position: relative;">Forgot password?</a>
            <br><br>
            <button class="button buttonsave" (click)="onSubmit()">Sign In</button>
        </div>
    </div>
</div>