<!-- <p>home works!</p>
<div class="card my-5">
    <div class="card-body">
        <div class="card-body">
            <form>
                <div>
                    <i class="fa fa-search"></i></div>
                <div class="col-6 align-left">

                    <input type="text" class="form-control" id="name" required [(ngModel)]="inputSearch" name="name" (keyup)="searchFood()">
                </div>
            </form>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">dishName</th>
                    <th scope="col">Price</th>
                    <th scope="col">category</th>
                    <th scope="col">vegNonVeg</th>
                    <th scope="col">availability</th>
                    <th scope="col">desciption</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dish of dishes">
                    <td>{{dish.dishName}}</td>
                    <td>{{dish.price}}</td>
                    <td>{{dish.category}}</td>
                    <td>{{dish.vegNonVeg}}</td>
                    <td>{{dish.availability}}</td>
                    <td>{{dish.description }}</td>
                    <td><button type="button" (click)=addToCart(dish.id)>Add to cart</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div>
    <div class="alert alert-success" role="alert" *ngIf="showsuccess">
        {{successmsg}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="showError">
        {{errmsg}}
    </div>
    <div>
        <div class="card mx-2 my-2">
            <div class="card-header">
                Menu
            </div>
            <div class="card-body">
                <div *ngIf="restaurantArray.length==0">
                    <p>No Restauranats Found</p>
                </div>

                <nav *ngIf="restaurantArray.length!=0">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist" (tabChange)="restaurantTab($event)">
                        <a class="nav-item nav-link" [ngClass]="(k==0)?'active':''" *ngFor="let restaurant of restaurantArray;let k=index;" (click)="restaurantTab(restaurant)" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{{restaurant}}</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <!-- tab bodyyyy starting -->
                        <div class="accordion" id="accordionExample" *ngIf="categorySort!=null">

                            <div class="card my-2 mx-2 " *ngFor="let category of key, let i = index ">
                                <div class="card-header imgheader " id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left font-italic text-capitalize imgtext px-5" style="height: 100%" type="button" data-toggle="collapse" attr.data-target="#collapse_{{i}}" aria-expanded="false" attr.aria-controls="collapse_{{i}}">
                              <h2 >{{category}}</h2>
                            </button>
                                    </h2>
                                </div>

                                <div attr.id="collapse_{{i}}" class="collapse " attr.aria-labelledby="heading_{{i}}" data-parent="#accordionExample">
                                    <div class="card-body ">
                                        <!-- <div *ngFor="let dish of categorySort[category]">
                                  <div class="card">
                                      <div class="card-body">
                                          {{dish.dishName}}
                                      </div>
                                    </div> -->
                                        <div class="row card-group">
                                            <div class="col-xl-2 col-lg-3 col-sm-6 col-md-4 my-2 d-flex align-items-stretch" style="padding: 0% 0.5%;" *ngFor="let dish of categorySort[category]; let j=index;">
                                                <div class="card dishcard " [class.disablecard]=" !dish.availability ">
                                                    <img src="http://localhost:8080/files/{{dish.imgName}}" class="card-img-top" alt="...">
                                                    <div class="card-body container" style="padding: 4%">
                                                        <div class="container">
                                                            <span *ngIf="dish.vegNonVeg=='veg'" class="badge badge-success float-right ">Veg</span>
                                                            <span *ngIf="dish.vegNonVeg=='nonveg'" class="badge badge-danger float-right ">Non veg</span>
                                                            <h6 class="card-title font-italic text-capitalize">{{dish.dishName}}</h6>
                                                            <div class="" style="overflow:auto;min-height:5rem;">
                                                                <p class="card-text font-weight-light">{{dish.description}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="footer container" style="margin-bottom: 4%">
                                                        <div class="row">
                                                            <p class="col-6">&#x20b9; {{dish.price}} </p>
                                                            <input type="number" min=0 [disabled]="!dish.availability" class="form-control form-control-sm col-4 offset-1 my-2" [attr.id]="'qnty_'+i+j+dish.restaurantName" value="0">
                                                        </div>
                                                        <button type="button" attr.id="cartButton_{{i}}{{j}}{{dish.restaurantName}}" [disabled]="!dish.availability" class="btn btn-outline-primary btn-circle btn-sm col-12 auto" (click)="addCart(dish,i,j,dish.restaurantName)">Add to Cart
                                                          <svg class="bi bi-cart-plus icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z"/>
                                                            <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0v-2z"/>
                                                            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                                          </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!-- </div>  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tab bodyyyy ending -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>