<p>home works!</p>
<div class="card my-5">
    <div class="card-body">
        <div class="card-body">
            <form>
                <div>
                    <i class="fa fa-search"></i></div>
                <div class="col-6 align-left">

                    <input type="text" class="form-control" id="name" required [(ngModel)]="inputSearch" name="name" (keyup)="searchFood()">
                </div>
            </form>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">dishName</th>
                    <th scope="col">Price</th>
                    <th scope="col">category</th>
                    <th scope="col">vegNonVeg</th>
                    <th scope="col">availability</th>
                    <th scope="col">desciption</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dish of dishes">
                    <td>{{dish.dishName}}</td>
                    <td>{{dish.price}}</td>
                    <td>{{dish.category}}</td>
                    <td>{{dish.vegNonVeg}}</td>
                    <td>{{dish.availability}}</td>
                    <td>{{dish.description }}</td>
                    <td><button type="button" (click)=addToCart(dish.id)>Add to cart</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>