<div class="container">
    <h2 style="font-weight: bold;" class="text-center pt-5">ABOUT US</h2>
    <hr class="w-25 mx-auto">
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-block m-auto">
            <img src="/assets/images/aboutus.jpg" class="card-img img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-block m-auto">
            <br>
            <p>Welcome to Food Me where we serve fresh, delicious food prepared with the finest local ingredients. Relax, indulge and enjoy our mouth-watering dishes within beautiful yet comfortable surroundings. We have something for every occasion.</p>
            <p>We are committed to nurturing a neutral platform and are helping food establishments maintain high standards through Hyperpure. Food Hygiene Ratings is a coveted mark of quality among other cafeteria.</p>
            <p>We are leaving no stone unturned when it comes to making food more affordable without compromising on the profitability of our cafe.</p>
        </div>
    </div>
</div>