<div>
        <div class="alert alert-success" role="alert" *ngIf="showsuccess">
                {{successmsg}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="showError">
                {{errmsg}}
        </div>
        <div class="card my-4">
            <div class="card-header">
                  Cart
            </div>
            <div class="card-body" >
                <div *ngIf="cartarray.length==0">Your cart is empty.</div>
                <p *ngIf="cartarray.length!=0  ">Restaurant Name: {{cartarray[0].dish.restaurantName}}</p>
                <table class="table" *ngIf="cartarray.length!=0  ">
                        <thead>
                        <tr>
                            <th style="width: 16.66%">#</th>
                            <th style="width: 16.66%">Dish Name</th>
                            <th style="width: 16.66%">category</th>
                            <th style="width: 16.66%">Price</th>
                            <th style="width: 16.66%">Quantity</th>
                            <th style="width: 16.66%">total</th>
                            <th style="width: 16.66%"> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of cartarray; let i=index;">
                            <th scope="row" >{{i+1}}</th>
                            <td class="text-capitalize">{{item.dish.dishName}}</td>
                            <td class="text-capitalize">{{item.dish.category}}</td>
                            <td>{{item.dish.price}}</td>
                            <td>
                                <div style="width:60%">
                                    <input type="number" min=0 name="qnty" (change)="updateQnty()" class="form-control" attr.id="qnty_{{i}}" placeholder="Example input"  [(ngModel)]="item.qnty">
                                </div>
                            </td>
                            <td>{{item.dish.price*item.qnty}}</td>
                            <td>
                                <button type="button" attr.id="deleteButton_{{i}}" (click)="deleteElementFormCart(i)" class="btn btn-link btn-circle btn-sm">
                                        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                                        </svg>
                                </button> 
                            </td>
                        </tr>
                        </tbody>
                </table>
                <div *ngIf="cartarray.length!=0 ">
                    <div >Total payment to be made: {{payable}}</div>
                    <hr>
                    <div class="text-right">
                        <button type="button "  data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Order Now</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- recipt -->
        <div *ngIf="showRecipt">
                <div class="card">
                        <!-- <div class="card-header">
                          Quote
                        </div> -->
                        <div class="card-body">
                            Order Id: {{recipt.order_id}}<br>
                            Restaurant Name: {{recipt.restaurantName}}<br>
                            Amount: {{recipt.payableAmount}}<br>
                            time stamp: {{recipt.createdAt}}<br>

                            <table class="table" *ngIf="recipt.items">
                                    <thead>
                                    <tr>
                                        <th style="width: 16.66%">#</th>
                                        <th style="width: 16.66%">Dish Name</th>
                                        <!-- <th style="width: 16.66%">category</th> -->
                                        <th style="width: 16.66%">Price</th>
                                        <th style="width: 16.66%">Quantity</th>
                                        <th style="width: 16.66%">total</th>
                                        <!-- <th style="width: 16.66%"> </th> -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of recipt.items ; let i=index;">
                                        <th scope="row" >{{i+1}}</th>
                                        <td class="text-capitalize">{{item.dish.dishName}}</td>
                                        <!-- <td class="text-capitalize">{{item.dish.category}}</td> -->
                                        <td>{{item.dish.price}}</td>
                                        <td>{{item.qntyy}}</td>
                                        <td>{{item.dish.price*item.qnty}}</td>
                                        <!-- <td>
                                            <button type="button" attr.id="deleteButton_{{i}}" (click)="deleteElementFormCart(i)" class="btn btn-link btn-circle btn-sm">
                                                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                                                    </svg>
                                            </button> 
                                        </td> -->
                                    </tr>
                                    </tbody>
                            </table>
                        </div>
                </div>
        </div>

        <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
          <div class="modal-content" >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm Order</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                            <div *ngIf="cartarray.length==0">Your cart is empty.</div>
                            <p *ngIf="cartarray.length!=0  ">Restaurant Name: {{cartarray[0].dish.restaurantName}}</p>
                            <table class="table" *ngIf="cartarray.length!=0  ">
                                    <thead>
                                    <tr>
                                        <th style="width: 16.66%">#</th>
                                        <th style="width: 16.66%">Dish Name</th>
                                        <!-- <th style="width: 16.66%">category</th> -->
                                        <th style="width: 16.66%">Price</th>
                                        <th style="width: 16.66%">Quantity</th>
                                        <th style="width: 16.66%">total</th>
                                        <!-- <th style="width: 16.66%"> </th> -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of cartarray; let i=index;">
                                        <th scope="row" >{{i+1}}</th>
                                        <td class="text-capitalize">{{item.dish.dishName}}</td>
                                        <!-- <td class="text-capitalize">{{item.dish.category}}</td> -->
                                        <td>{{item.dish.price}}</td>
                                        <td>{{item.qnty}}</td>
                                        <td>{{item.dish.price*item.qnty}}</td>
                                        <!-- <td>
                                            <button type="button" attr.id="deleteButton_{{i}}" (click)="deleteElementFormCart(i)" class="btn btn-link btn-circle btn-sm">
                                                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                                                    </svg>
                                            </button> 
                                        </td> -->
                                    </tr>
                                    </tbody>
                            </table>
                            <div *ngIf="cartarray.length!=0 ">
                                <div >Total payment to be made: {{payable}}</div>
                                <!-- <hr> -->
                                <!-- <div class="text-right">
                                    <button type="button " (click)="order()" class="btn btn-primary">Order Now</button>
                                </div> -->
                            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" (click)="order()" data-dismiss="modal" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>
</div>
